@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-100.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-100.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-100.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-100.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-100italic.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-100italic.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-100italic.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-100italic.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-300.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-300.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-300.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-300.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-300italic.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-300italic.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-300italic.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-300italic.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-regular.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-regular.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-regular.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-regular.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-italic.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-italic.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-italic.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-italic.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-700.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-700.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-700.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-700.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-700italic.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-700italic.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-700italic.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-700italic.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-900.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-900.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-900.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-900.svg#Lato') format('svg')
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  
  src: local(''),
    url('https://onecdn.io/font-storage/lato/lato-900italic.woff2') format('woff2'),
       url('https://onecdn.io/font-storage/lato/lato-900italic.woff') format('woff'),
       url('https://onecdn.io/font-storage/lato/lato-900italic.ttf') format('truetype'),
       url('https://onecdn.io/font-storage/lato/lato-900italic.svg#Lato') format('svg')
}